@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@import '@rexxars/react-json-inspector/json-inspector.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
}

@media screen and (min-width: 768px) {
  .flow {
    display: flex;
    flex-direction: row;  /* Switch to row layout for larger screens */
  }

  .flow .aside {
    max-width: 250px;
  }
}


/* styles.css or your main CSS file */
@layer utilities {
  .node-group {
    @apply font-medium text-gray-600 text-lg text-center p-1 rounded-md rounded-r-lg border-r-1;
    writing-mode: sideways-lr;
  }
  .node-container{
    @apply relative border-1 bg-white !border-black rounded-md
  }
  .node-content {
    @apply flex p-4 gap-7 flex-col;
  }
  .node-title {
    @apply text-4xl text-center;
  }
  .filter-input{
    @apply w-full p-2 border border-gray-300 rounded-md bg-white text-gray-700;
  }
  .filter-option{
    @apply cursor-pointer hover:bg-gray-200
  }
  .standard-input{
    @apply w-full p-2 border border-gray-300 rounded-md bg-white text-gray-700;
  }
  .cancel-button{
    @apply bg-gray-300 py-2 px-4 rounded hover:bg-gray-400;
  }
  .submit-button{
    @apply bg-green-300 disabled:bg-gray-400 disabled:cursor-not-allowed py-2 px-4 rounded disabled:hover:bg-gray-400 hover:bg-gray-400
  }
  .tabTrigger{
    @apply flex w-full pb-2 !border-t-1 !border-l-1 !border-r-1 rounded-t-sm !border-gray-400 items-center gap-2 px-4 pt-2 text-gray-600 hover:text-gray-900 border-transparent
  }
  .tabContent{
    @apply p-1 h-full !border-gray-400 bg-gray-50 !border-b-1 !border-l-1 !border-r-1 rounded-b-sm
  }
  .paginationButton{
    @apply border p-0.5 text-sm !w-6 !h-6 leading-3
  }
}

html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  overflow: hidden;
  flex-grow: 1; /* Allow the element to grow */
  width: 100vw;
  height: 100vh; /* Full viewport height */
}

.main {
  width: 100%;
  height: 100%;
}

table {
  width: 100%; /* Allow full table resizing */
  height: 100%;
}

.flow {
  width: 100%;
  height: 100%;
}

.flow .reactflow-wrapper {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  text-align: center; /* Center content horizontally */
}

h1{
  @apply text-5xl font-serif font-semibold mb-6 text-gray-900
 }

h3{
  @apply text-xl font-serif font-light text-gray-700 mb-2 opacity-90
 }

 h2 {
  @apply text-4xl font-serif font-semibold mb-5 text-gray-900;
}

h4 {
  @apply text-lg font-serif font-medium text-gray-800 opacity-90;
}

h5 {
  @apply text-base font-serif font-medium text-gray-700 opacity-90;
}

h6 {
  @apply text-sm font-serif font-medium text-gray-600 opacity-90 uppercase;
}

p {
  @apply text-base font-serif font-light text-gray-700 leading-relaxed;
}






:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.87 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.87 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
